################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64/Debug
/Лабораторная работа 1/x64/Debug
